In [99]:
import pandas as pd

In [100]:
df = pd.read_csv('data/2022/flights_combined.csv')

C:\Users\peter\AppData\Local\Temp\ipykernel_19528\124648328.py:1: DtypeWarning: Columns (1,2) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('data/2022/flights_combined.csv')

In [101]:
df['arrival.delay'].fillna(0, inplace=True)

In [102]:
df['year'] = pd.DatetimeIndex(df['departure.scheduledTime']).year

In [103]:
df['month'] = pd.DatetimeIndex(df['departure.scheduledTime']).month

In [104]:
df['day'] = pd.DatetimeIndex(df['departure.scheduledTime']).day

In [105]:
df['date'] = pd.to_datetime(df['departure.scheduledTime'])

df['weekday'] = df['date'].dt.dayofweek

In [106]:
#TODO: get scheduled time as feature
#TODO: get sheduled arrival times and find diff between actual and maybe use as target for regression

df['time'] = pd.DatetimeIndex(df['departure.scheduledTime']).time

In [168]:
df_airports = pd.read_csv('data/GlobalAirportDatabase.csv')
df_airports.drop(['latitude_degrees', 'latitude_minutes', 'latitude_seconds',
                  'latitude_direction', 'longitude_degrees', 'longitude_minutes',
                  'longitude_seconds', 'longitude_direction'], axis=1, inplace=True)

In [169]:
df_airports.head()

,ICAO,departure.iataCode,arrival.iataCode,airport_name,city,country,altitude,latitude_decimal_degrees,longitude_decimal_degrees
0,ayga,gka,gka,goroka,goroka,papua new guinea,1610,-6.082,145.392
1,ayla,lae,lae,NaN,lae,papua new guinea,0,0.000,0.000
2,aymd,mag,mag,madang,madang,papua new guinea,7,-5.207,145.789
3,aymh,hgu,hgu,mount hagen,mount hagen,papua new guinea,1643,-5.826,144.296
4,aynz,lae,lae,nadzab,nadzab,papua new guinea,73,-6.570,146.726

In [184]:
df2 = pd.merge(df, df_airports, on='departure.iataCode', how='left')
df2 = df2.rename({"latitude_decimal_degrees": "departure_latitude", "longitude_decimal_degrees": "departure_longitude"}, axis=1)

In [185]:
df_airports2 = df_airports.copy(deep=True)

In [186]:
df2 = pd.merge(df, df_airports2, on='arrival.iataCode', how='left')

In [180]:
df2 = df2.rename({"latitude_decimal_degrees": "arrival_latitude", "longitude_decimal_degrees": "arrival_longitude"}, axis=1)

In [136]:
df2.drop(['ICAO_y', 'IATA_y', 'airport_name_y', 'city_y', 'country_y', 'altitude_y'], axis=1, inplace=True)

KeyError: "['ICAO_y', 'IATA_y', 'airport_name_y', 'city_y', 'country_y', 'altitude_y'] not found in axis"

In [187]:
df2.head()

,airline.name,departure.terminal,departure.gate,departure.scheduledTime,departure.actualTime,arrival.scheduledTime,arrival.actualTime,status,departure.iataCode_x,arrival.delay,...,weekday,time,ICAO,departure.iataCode_y,airport_name,city,country,altitude,latitude_decimal_degrees,longitude_decimal_degrees
0,klm,NaN,NaN,2022-01-05t08:35:00.000,NaN,2022-01-05t09:50:00.000,NaN,active,koi,0.0,...,2,08:35:00,egph,edi,edinburgh,edinburgh,uk,42.0,55.950,-3.373
1,klm,NaN,NaN,2022-01-06t08:35:00.000,2022-01-06t08:34:00.000,2022-01-06t09:50:00.000,NaN,active,koi,0.0,...,3,08:35:00,egph,edi,edinburgh,edinburgh,uk,42.0,55.950,-3.373
2,klm,NaN,NaN,2022-01-07t08:35:00.000,2022-01-07t08:47:00.000,2022-01-07t09:50:00.000,NaN,active,koi,0.0,...,4,08:35:00,egph,edi,edinburgh,edinburgh,uk,42.0,55.950,-3.373
3,klm,NaN,NaN,2022-01-07t19:00:00.000,2022-01-07t18:44:00.000,2022-01-07t19:50:00.000,NaN,active,koi,0.0,...,4,19:00:00,egpd,abz,dyce,aberdeen,uk,66.0,57.204,-2.200
4,klm,NaN,NaN,2022-01-08t10:05:00.000,2022-01-08t10:25:00.000,2022-01-08t11:20:00.000,NaN,active,koi,3.0,...,5,10:05:00,egph,edi,edinburgh,edinburgh,uk,42.0,55.950,-3.373

In [188]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 253129 entries, 0 to 253128
Data columns (total 25 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   airline.name               253129 non-null  object
 1   departure.terminal         126090 non-null  object
 2   departure.gate             191362 non-null  object
 3   departure.scheduledTime    253129 non-null  object
 4   departure.actualTime       156808 non-null  object
 5   arrival.scheduledTime      253129 non-null  object
 6   arrival.actualTime         3500 non-null    object
 7   status                     253129 non-null  object
 8   departure.iataCode_x       253129 non-null  object
 9   arrival.delay              253129 non-null  float64
 10  arrival.iataCode           253129 non-null  object
 11  year                       253129 non-null  int64
 12  month                      253129 non-null  int64
 13  day                        253129 non-null  int64
 14  date                       253129 non-null  datetime64[ns]
 15  weekday                    253129 non-null  int64
 16  time                       253129 non-null  object
 17  ICAO                       244565 non-null  object
 18  departure.iataCode_y       244565 non-null  object
 19  airport_name               240471 non-null  object
 20  city                       244565 non-null  object
 21  country                    244565 non-null  object
 22  altitude                   244565 non-null  float64
 23  latitude_decimal_degrees   244565 non-null  float64
 24  longitude_decimal_degrees  244565 non-null  float64
dtypes: datetime64[ns](1), float64(4), int64(4), object(16)
memory usage: 50.2+ MB

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 251898 entries, 0 to 251897
Data columns (total 11 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   airline.name             251898 non-null  object
 1   departure.terminal       125580 non-null  object
 2   departure.gate           190401 non-null  object
 3   departure.scheduledTime  251898 non-null  object
 4   departure.actualTime     155957 non-null  object
 5   arrival.scheduledTime    251898 non-null  object
 6   arrival.actualTime       3500 non-null    object
 7   status                   251898 non-null  object
 8   departure.iataCode       251898 non-null  object
 9   arrival.delay            40282 non-null   float64
 10  arrival.iataCode         251898 non-null  object
dtypes: float64(1), object(10)
memory usage: 21.1+ MB