In [99]:
import pandas as pd

In [100]:
df = pd.read_csv('data/2022/flights_combined.csv')

C:\Users\peter\AppData\Local\Temp\ipykernel_19528\124648328.py:1: DtypeWarning: Columns (1,2) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('data/2022/flights_combined.csv')

In [101]:
df['arrival.delay'].fillna(0, inplace=True)

In [102]:
df['year'] = pd.DatetimeIndex(df['departure.scheduledTime']).year

In [103]:
df['month'] = pd.DatetimeIndex(df['departure.scheduledTime']).month

In [104]:
df['day'] = pd.DatetimeIndex(df['departure.scheduledTime']).day

In [105]:
df['date'] = pd.to_datetime(df['departure.scheduledTime'])

df['weekday'] = df['date'].dt.dayofweek

In [106]:
#TODO: get scheduled time as feature
#TODO: get sheduled arrival times and find diff between actual and maybe use as target for regression

df['time'] = pd.DatetimeIndex(df['departure.scheduledTime']).time

In [217]:
df_airports = pd.read_csv('data/GlobalAirportDatabase.csv')
df_airports.drop(['latitude_degrees', 'latitude_minutes', 'latitude_seconds',
                  'latitude_direction', 'longitude_degrees', 'longitude_minutes',
                  'longitude_seconds', 'longitude_direction'], axis=1, inplace=True)

In [218]:
df_airports.head()

,ICAO,IATA,airport_name,city,country,altitude,latitude_decimal_degrees,longitude_decimal_degrees
0,ayga,gka,goroka,goroka,papua new guinea,1610,-6.082,145.392
1,ayla,lae,NaN,lae,papua new guinea,0,0.000,0.000
2,aymd,mag,madang,madang,papua new guinea,7,-5.207,145.789
3,aymh,hgu,mount hagen,mount hagen,papua new guinea,1643,-5.826,144.296
4,aynz,lae,nadzab,nadzab,papua new guinea,73,-6.570,146.726

In [253]:
df2 = pd.merge(df, df_airports, left_on='departure.iataCode', right_on='IATA', how='left')
df2 = df2.rename({"latitude_decimal_degrees": "latitude_departure", "longitude_decimal_degrees": "longitude_departure"}, axis=1)

In [254]:
df2 = pd.merge(df2, df_airports, left_on='arrival.iataCode', right_on='IATA', how='left')
df2 = df2.rename({"latitude_decimal_degrees": "latitude_arrival", "longitude_decimal_degrees": "longitude_arrival"}, axis=1)

In [255]:
df2.columns = df2.columns.str.replace("_x", "_departure")
df2.columns = df2.columns.str.replace("_y", "_arrival")

In [256]:
df2.head()

,airline.name,departure.terminal,departure.gate,departure.scheduledTime,departure.actualTime,arrival.scheduledTime,arrival.actualTime,status,departure.iataCode,arrival.delay,...,latitude_departure,longitude_departure,ICAO_arrival,IATA_arrival,airport_name_arrival,city_arrival,country_arrival,altitude_arrival,latitude_arrival,longitude_arrival
0,klm,NaN,NaN,2022-01-05t08:35:00.000,NaN,2022-01-05t09:50:00.000,NaN,active,koi,0.0,...,58.958,-2.905,egph,edi,edinburgh,edinburgh,uk,42.0,55.950,-3.373
1,klm,NaN,NaN,2022-01-06t08:35:00.000,2022-01-06t08:34:00.000,2022-01-06t09:50:00.000,NaN,active,koi,0.0,...,58.958,-2.905,egph,edi,edinburgh,edinburgh,uk,42.0,55.950,-3.373
2,klm,NaN,NaN,2022-01-07t08:35:00.000,2022-01-07t08:47:00.000,2022-01-07t09:50:00.000,NaN,active,koi,0.0,...,58.958,-2.905,egph,edi,edinburgh,edinburgh,uk,42.0,55.950,-3.373
3,klm,NaN,NaN,2022-01-07t19:00:00.000,2022-01-07t18:44:00.000,2022-01-07t19:50:00.000,NaN,active,koi,0.0,...,58.958,-2.905,egpd,abz,dyce,aberdeen,uk,66.0,57.204,-2.200
4,klm,NaN,NaN,2022-01-08t10:05:00.000,2022-01-08t10:25:00.000,2022-01-08t11:20:00.000,NaN,active,koi,3.0,...,58.958,-2.905,egph,edi,edinburgh,edinburgh,uk,42.0,55.950,-3.373

In [257]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 296080 entries, 0 to 296079
Data columns (total 33 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   airline.name             296080 non-null  object
 1   departure.terminal       168407 non-null  object
 2   departure.gate           232927 non-null  object
 3   departure.scheduledTime  296080 non-null  object
 4   departure.actualTime     185879 non-null  object
 5   arrival.scheduledTime    296080 non-null  object
 6   arrival.actualTime       4117 non-null    object
 7   status                   296080 non-null  object
 8   departure.iataCode       296080 non-null  object
 9   arrival.delay            296080 non-null  float64
 10  arrival.iataCode         296080 non-null  object
 11  year                     296080 non-null  int64
 12  month                    296080 non-null  int64
 13  day                      296080 non-null  int64
 14  date                     296080 non-null  datetime64[ns]
 15  weekday                  296080 non-null  int64
 16  time                     296080 non-null  object
 17  ICAO_departure           296080 non-null  object
 18  IATA_departure           296080 non-null  object
 19  airport_name_departure   253129 non-null  object
 20  city_departure           296080 non-null  object
 21  country_departure        296080 non-null  object
 22  altitude_departure       296080 non-null  int64
 23  latitude_departure       296080 non-null  float64
 24  longitude_departure      296080 non-null  float64
 25  ICAO_arrival             287487 non-null  object
 26  IATA_arrival             287487 non-null  object
 27  airport_name_arrival     283393 non-null  object
 28  city_arrival             287487 non-null  object
 29  country_arrival          287487 non-null  object
 30  altitude_arrival         287487 non-null  float64
 31  latitude_arrival         287487 non-null  float64
 32  longitude_arrival        287487 non-null  float64
dtypes: datetime64[ns](1), float64(6), int64(5), object(21)
memory usage: 76.8+ MB

In [258]:
# TODO: Calculate distance between cities with GPS long lat data.

,airline.name,departure.terminal,departure.gate,departure.scheduledTime,departure.actualTime,arrival.scheduledTime,arrival.actualTime,status,departure.iataCode,arrival.delay,...,latitude_departure,longitude_departure,ICAO_arrival,IATA_arrival,airport_name_arrival,city_arrival,country_arrival,altitude_arrival,latitude_arrival,longitude_arrival
0,klm,NaN,NaN,2022-01-05t08:35:00.000,NaN,2022-01-05t09:50:00.000,NaN,active,koi,0.0,...,58.958,-2.905,egph,edi,edinburgh,edinburgh,uk,42.0,55.950,-3.373
1,klm,NaN,NaN,2022-01-06t08:35:00.000,2022-01-06t08:34:00.000,2022-01-06t09:50:00.000,NaN,active,koi,0.0,...,58.958,-2.905,egph,edi,edinburgh,edinburgh,uk,42.0,55.950,-3.373
2,klm,NaN,NaN,2022-01-07t08:35:00.000,2022-01-07t08:47:00.000,2022-01-07t09:50:00.000,NaN,active,koi,0.0,...,58.958,-2.905,egph,edi,edinburgh,edinburgh,uk,42.0,55.950,-3.373
3,klm,NaN,NaN,2022-01-07t19:00:00.000,2022-01-07t18:44:00.000,2022-01-07t19:50:00.000,NaN,active,koi,0.0,...,58.958,-2.905,egpd,abz,dyce,aberdeen,uk,66.0,57.204,-2.200
4,klm,NaN,NaN,2022-01-08t10:05:00.000,2022-01-08t10:25:00.000,2022-01-08t11:20:00.000,NaN,active,koi,3.0,...,58.958,-2.905,egph,edi,edinburgh,edinburgh,uk,42.0,55.950,-3.373
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
296075,jet2,1.0,13.0,2022-12-20t09:45:00.000,NaN,2022-12-20t14:25:00.000,NaN,active,stn,0.0,...,51.885,0.235,gcts,tfs,tenerife sur,tenerife,canary islands,64.0,28.044,-16.572
296076,jet2,1.0,3.0,2022-12-20t10:30:00.000,NaN,2022-12-20t14:50:00.000,NaN,active,stn,0.0,...,51.885,0.235,gclp,lpa,gran canaria,gran canaria,canary islands,24.0,27.932,-15.386
296077,jet2,1.0,19.0,2022-12-20t12:25:00.000,NaN,2022-12-20t16:35:00.000,NaN,active,stn,0.0,...,51.885,0.235,gcrr,ace,lanzarote,lanzerote,canary islands,15.0,28.945,-13.605
296078,jet2,1.0,19.0,2022-12-20t14:15:00.000,NaN,2022-12-20t18:55:00.000,NaN,active,stn,0.0,...,51.885,0.235,gcts,tfs,tenerife sur,tenerife,canary islands,64.0,28.044,-16.572
296079,jet2,1.0,3.0,2022-12-20t14:50:00.000,NaN,2022-12-20t18:25:00.000,NaN,active,stn,0.0,...,51.885,0.235,leal,alc,alicante,alicante,spain,44.0,38.282,-0.558